[submodule "serverless-cms-admin"]
	path = serverless-cms-admin
	url = https://github.com/ACenterA/serverless-cms-admin.git
[submodule "serverless-sample-hugosite"]
	path = serverless-sample-hugosite
	url = https://github.com/ACenterA/serverlesscms-example.git
